.button-red-hover {
	display: flex;
	align-items: center;

	gap: 12px;

	padding: var(--spacing-small);
	padding-right: 16px;
	padding-left: 16px;
	
	background-color: var(--color-light-medium);
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-medium);
	border-radius: var(--border-radius-small);

	color: var(--color-dark);

	transition:
		border-color 0.2s,
		box-shadow 0.2s,
		transform 0.2s;
}

.button-red-hover:hover {
	cursor: pointer;

	background-color: var(--color-warning-light);
	color: var(--color-warning-dark);
	border-color: var(--color-warning-dark);

	transform: translate(0%, -5%);
	box-shadow: 0px 4px 16px 2px var(--color-warning-light);
}

.button-red-hover:active {
	cursor: pointer;

	background-color: var(--color-warning-medium);
	color: var(--color-warning-dark);
	border-color: var(--color-warning-dark);
	box-shadow: 0px 0px 0px 0px var(--color-warning-light);

	transform: translate(0%, 2%);
}

.button-red-hover-text {
	color: var(--color-dark);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}
