@keyframes modalBackgroundFadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 0.5;
	}
}

.modal-background {
	position: absolute;
	
	height: 100%;
	width: 100%;

	background-color: var(--color-dark-medium);

	z-index: 1;

	opacity: 0.5;

	animation: modalBackgroundFadeIn 0.4s ease-out forwards;
}

@keyframes modalFadeIn {
	from {
	  top: 55%;
	}
	to {
	  top: 50%;
	}
}

.modal-box {
	display: flex;
	flex-direction: column;
	
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-height: 128px;
	min-width: calc(100vw / 3);

	gap: 16px;

	padding: var(--spacing-medium);

	background-color: var(--color-light);
	border-radius: var(--border-radius-medium);
	box-shadow: 0px 8px 64px 4px var(--color-dark-medium);

	z-index: 2;

	animation: modalFadeIn 0.4s ease-out forwards;
}

.form-style {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;	
	gap: 16px;
}

.input-modal {
	padding: 12px;
	padding-top: 8px;
	padding-bottom: 8px;

	color: var(--color-dark);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	
	border: 1.5px solid var(--color-medium);
	outline-color: var(--color-dark-medium);
	border-radius: var(--border-radius-small);

	transition: border-color 0.3s ease, outline 0.3s ease;
}

.input-modal:hover {
	border: 1.5px solid var(--color-medium-dark);
}

.input-modal:focus {
	border: 1.5px solid var(--color-dark-medium);
	outline: 3px solid var(--color-light-medium);
}

.input-modal::placeholder {
	color: var(--color-medium-dark);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}