.profile-picture-style {
	flex-shrink: 0;

	background-color: var(--color-light-medium);
	border-radius: 50%;
	background-size: cover;
	background-position: center;

	margin: 16px;
	margin-bottom: 0;
}
