.friend-card {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);

	align-content: center;
	align-items: center;

	background-color: var(--color-light);
	padding: var(--spacing-medium);

	box-sizing: border-box;
	border: solid 1.33px transparent;
	border-radius: var(--border-radius-medium);
	transition:
	    box-shadow 0.4s,
		border 0.4s;
}

.friend-card:hover {
	border: solid 1.33px var(--color-dark-medium);
	box-shadow: 0px 4px 32px 4px var(--color-medium);

	cursor: pointer;
}

.text-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-extra-extra-small);

	align-content: center;
	align-items: center;
}

.title {
	color: var(--color-dark);
	font-family: var(--font-family-principal);
	font-weight: 500;
	font-style: normal;
	font-size: var(--font-size-medium-large);
}

.subtitle {
	color: var(--color-dark-medium);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size-medium);
}

.online {
	padding: var(--spacing-extra-small);
	padding-left: var(--spacing-small-medium);
	padding-right: var(--spacing-small-medium);
	white-space: nowrap;

	background-color: var(--color-light);

	border: solid 1.33px var(--color-dark-medium);
	border-radius: var(--border-radius-full);

	color: var(--color-dark);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size-medium-small);
}

.offline {
	padding: var(--spacing-extra-small);
	padding-left: var(--spacing-small-medium);
	padding-right: var(--spacing-small-medium);
	white-space: nowrap;

	background-color: var(--color-light);

	border: solid 1.33px var(--color-medium);
	border-radius: var(--border-radius-full);

	color: var(--color-dark-medium);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size-medium-small);
}

.playing {
	padding: var(--spacing-extra-small);
	padding-left: var(--spacing-small-medium);
	padding-right: var(--spacing-small-medium);
	white-space: nowrap;

	background-color: var(--color-light);

	border: solid 1.33px var(--color-dark-medium);
	border-radius: var(--border-radius-full);

	color: var(--color-dark);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size-medium-small);	
}
