.login {
	display: flex;
	flex-direction: column;
	margin: auto;

	gap: var(--spacing-small-medium);

	padding: var(--spacing-medium);
	background-color: var(--color-light);
	border-radius: var(--border-radius-medium);
	text-align: center;
	box-sizing: border-box;
}