.button-regular {
	display: flex;
	align-items: center;

	gap: var(--spacing-small-medium);

	cursor: pointer;

	padding: var(--spacing-small);
	padding-right: var(--spacing-medium);
	padding-left: var(--spacing-medium);
	
	background-color: var(--color-light-medium);
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-medium);
	border-radius: var(--border-radius-small);

	color: var(--color-dark);

	transition:
		border-color 0.2s,
		box-shadow 0.2s,
		transform 0.2s;

}

.button-regular:hover {
	border-color: var(--color-dark-medium);
	transform: translate(0%, -5%);
	box-shadow: 0px 4px 16px 2px var(--color-light-medium);
}

.button-regular:active {
	background-color: var(--color-medium);
	border-color: var(--color-dark-medium);
	transform: translate(0%, 2%);
	box-shadow: 0px 0px 0px 0px var(--color-light-medium);
}

.button-regular-text {
	color: var(--color-dark);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size-medium);
}
