.input-bar {
	margin-top: auto;
}

.input-text {
	width: 95%;
	box-sizing: border-box;
	float: left;
}

.input-button {
	width: 5%;
	box-sizing: border-box;
	float: left;
}

.messages {
	overflow-y: auto;
}

.message {
	display: flex;
	flex-direction: row;
}

.message + .message {
	margin-top: 5px;
}

.username {
	font-weight: 600;
	color: black;
	text-decoration: none;
}

.profilePicture {
	display: flex;
	flex-direction: column;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

